
.mobile-star{
    display: none;
}

.mobile-slider {
    display: none;
}

.mobile-hero{
    display: none;
}

a .logo{
    width: 50px;
}


@media(max-width: 480px) {

    
    .desktop-slider {
        display: none;
    }
    .mobile-slider{
        display: block;
    }

    .desktop-hero{
        display: none;
    }
    
    .mobile-hero{
        display: block;
    }
    
    .mobile-star{
        display: block;
    }

    .desktop-star{
        display: none;
    }


}

@media(max-width: 820px) {
    .desktop-slider {
        display: none;
    }
    .mobile-slider{
        display: block;
    }

    .desktop-hero{
        display: none;
    }
    
    .mobile-hero{
        display: block;
    }

    .mobile-hero .header-content img{
        width: 200px;
    }
}
.swiper-wrapper {
    margin: 0 50px;
}
